* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;  
}

body{
   
    width: 100%;
}


span{
    font-size:16px;
    letter-spacing:1.42px;
    position:relative;
    color: white;

}

span:hover{
    color: black;
}

a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}

#menu{
    background-color: #66C62D;
    text-align: center;
    align-items: center;
    height: 30px;
}

@media only screen and (max-width: 600px) {
    #menu{
        background-color: #66C62D;
        text-align: center;
        align-items: center;
        height: 30px;
    }
}

@media screen and (max-width: 768px){
    span{
        font-size:12px;
        letter-spacing:1.42px;
        position:relative;
        color: white;
    }
    #menu{
        background-color: #66C62D;
        text-align: center;
        align-items: center;
        height: 30px;
    }
}

/*carousel web responsive*/

.carousel-inner{
    width:100%;
    max-height:100%;
}

@media only screen and (max-width: 600px) {
    .carousel-inner{
        width: 100%;
    }
    .carousel-inner .carousel-item img{
        width: 100%;
        height: auto;
    }
}


/* header web responsive*/

.header{
    display: flex;
    width: 100%;
}

.logo{
    
    width: 20%;
}

.principal{
   
    margin-top: 0;
  
    
}
.logo img{
    margin: 5px;
    width: 70px;
    height: 90%;
    
    
}

/*signup_login  web responsive */

.signup_login{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10px;
    left: -10px;
    
}

@media screen and (max-width: 700px){
    .principal{
        padding: 0% 3% 0% 3%;
    }
    .signup_login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .signup_login h2{
        margin-top: 20px;
        margin-bottom: 20px;
       
    }
    .signup_login div{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .signup_login div input{
        width: 100%;
    }
    .signup_login div button{
        width: 100%;
    }
    .signup_login div a{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}




#servicios_rapido .contenedor{
    margin: 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#servicios_rapido article{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


/* scale article*/
#servicios_rapido article:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

article h6{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: px;
    margin-top: 5px;
}

/*container web responsive*/
@media only screen and (max-width: 600px) {
    .principal{
        padding: 0% 3% 0% 3%;
    }
    .signup_login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .signup_login h2{
        margin-top: 20px;
        margin-bottom: 20px;
       
    }
    .signup_login div{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .signup_login div input{
        width: 100%;
    }
    .signup_login div button{
        width: 100%;
    }
    .signup_login div a{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}



.contenedor a {
    text-decoration: none;
    color: black;
}

.contenedor a:hover{
    color: #66C62D;
}


.titulo{
    text-align: center;
    width: 60%;
   
}


.signup{
   
    width: 20%;
    text-align: right;
   
    
}

.signup_login{
    margin: 10px;
   
}

.signup_login a{
    text-decoration: none;
    color: white;
    border: 1px solid black;
    background-color: #66C62D;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}


.SeccionesInfo{
    padding: 5px;
    width: 100%;
    display: flex;
}



.contenedor_mapa{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: #66C62D;
}


.footer{
    background-color: #66C62D;
  
}

.footer a{
    margin: 3px;
}

/* No mostrar el scrollbar */
::-webkit-scrollbar {
    display: none;
}


#Ubicacion .contenedor{
    margin-top: 3%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#Ubicacion article{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


/* scale article*/

